@use "../base/variables" as var;

footer {
    position: relative;
    padding-top: 15rem;
    background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' id='svg' viewBox='0 0 1440 490' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M 0,500 L 0,187 C 60.92545517004467,154.48677430436277 121.85091034008934,121.97354860872551 201,137 C 280.14908965991066,152.0264513912745 377.5218138096874,214.59257986946065 445,225 C 512.4781861903126,235.40742013053935 550.061834421161,193.65613191343184 602,194 C 653.938165578839,194.34386808656816 720.2308485056682,236.7828924768121 797,226 C 873.7691514943318,215.2171075231879 961.0147715561664,151.21229817931982 1039,142 C 1116.9852284438336,132.78770182068018 1185.7100652696668,178.36791480590864 1251,195 C 1316.2899347303332,211.63208519409136 1378.1449673651666,199.31604259704568 1440,187 L 1440,500 L 0,500 Z' stroke='none' stroke-width='0' fill='%23b4c424' fill-opacity='1' class='transition-all duration-300 ease-in-out delay-150 path-0'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 900px) {
    footer {
        background-color: var.$accent;
        padding: 0;
    }
}